---
- name: Check if SSH key is already present
  stat:
    path: "{{ dotfiles_ssh_key }}"
  register: key_stat_result

- name: Generate SSH key for accessing GitHub
  command: "ssh-keygen -t ed25519 -f {{ dotfiles_ssh_key }} -N ''"
  when: not key_stat_result.stat.exists

- name: Get key content
  command: "cat {{ dotfiles_ssh_key }}.pub"
  register: key_content

- name: Check if known_host exists
  stat:
    path: "{{ dotfiles_known_hosts_file }}"
  register: known_hosts_stat

- name: Create known_hosts if it doesn't exist
  file:
    path: "{{ dotfiles_known_hosts_file }}"
    state: touch
  when: not known_hosts_stat.stat.exists

- name: Get the content of known hosts
  shell: "cat {{ dotfiles_known_hosts_file }} | grep {{ dotfiles_git_server_fqdn }}"
  register: host_stat
  failed_when: host_stat.rc > 1

- name: Modify known hosts
  block:
    - name: Fetch GitHub public key
      command: "ssh-keyscan -T 10 {{ dotfiles_git_server_fqdn }}"
      register: keyscan

    - name: Add GitHub public key to ssh known_hosts
      lineinfile:
        path: "{{ dotfiles_known_hosts_file }}"
        create: yes
        line: "{{ item }}"
      with_items: "{{ keyscan.stdout_lines }}"
  when: host_stat.rc == 1

- name: Add SSH public key to GitHub account
  uri:
    url: "https://api.{{ dotfiles_git_server_fqdn }}/user/keys"
    validate_certs: no
    method: POST
    body:
      title: "{{ dotfiles_key_title }}"
      key: "{{ key_content.stdout }}"
    body_format: json
    headers:
      Content-Type: "application/json"
      Authorization: "token {{ GITHUB_ACCESS_TOKEN | default('') }}"
    status_code:
      - 201
      - 422
  when: not key_stat_result.stat.exists
  tags:
    - requires_github_token

- name: Ensure dotfiles repository is cloned locally.
  git:
    repo: "{{ dotfiles_repo }}"
    dest: "{{ dotfiles_repo_local_destination }}"
    accept_hostkey: "{{ dotfiles_repo_accept_hostkey }}"
    key_file: "{{ dotfiles_ssh_key }}"
  become: no

- name: Check which dotfiles exist in repo.
  stat:
    path: "{{ dotfiles_repo_local_destination }}/{{ item }}"
  register: dotfile_exists
  with_items: "{{ dotfiles_files }}"

- name: Check if target dotfiles already exist.
  stat:
    path: "{{ dotfiles_home }}/{{ item.item }}"
  register: dotfile_targets
  with_items: "{{ dotfile_exists.results }}"
  loop_control:
    label: "{{ item.item }}"

- name: Remove existing dotfiles if source exists in repo (to replace with symlink).
  file:
    path: "{{ dotfiles_home }}/{{ item.0.item }}"
    state: absent
  when: item.0.stat.exists and item.1.stat.exists and not item.1.stat.islnk
  with_together:
    - "{{ dotfile_exists.results }}"
    - "{{ dotfile_targets.results }}"
  loop_control:
    label: "{{ item.0.item }}"

- name: Ensure parent directories exist for dotfiles.
  file:
    path: "{{ dotfiles_home }}/{{ item.item | dirname }}"
    state: directory
  become: no
  when: item.stat.exists and '/' in item.item
  with_items: "{{ dotfile_exists.results }}"
  loop_control:
    label: "{{ item.item }}"

- name: Link dotfiles into home folder.
  file:
    src: "{{ dotfiles_repo_local_destination }}/{{ item.item }}"
    dest: "{{ dotfiles_home }}/{{ item.item }}"
    state: link
  become: no
  when: item.stat.exists
  with_items: "{{ dotfile_exists.results }}"
  loop_control:
    label: "{{ item.item }}"

- name: Ensure parent directories exist for special links.
  file:
    path: "{{ dotfiles_home }}/{{ item.dest | dirname }}"
    state: directory
  become: no
  with_items: "{{ dotfiles_special_links | default([]) }}"
  when: dotfiles_special_links is defined

- name: Remove existing files for special links.
  file:
    path: "{{ dotfiles_home }}/{{ item.dest }}"
    state: absent
  become: no
  with_items: "{{ dotfiles_special_links | default([]) }}"
  when: dotfiles_special_links is defined

- name: Create special symlinks.
  file:
    src: "{{ dotfiles_repo_local_destination }}/{{ item.src }}"
    dest: "{{ dotfiles_home }}/{{ item.dest }}"
    state: link
  become: no
  with_items: "{{ dotfiles_special_links | default([]) }}"
  when: dotfiles_special_links is defined
